@model Entities.UserLogin
@{ 
    ViewBag.Title = "Admin Information";
    Layout = "_AdminLayout.cshtml";
}

<h2>Update Information</h2>

@using (Html.BeginForm("CreateOrUpdate", "Admin"))
{
    @Html.Partial("../Admin/_AdminForm", Model)

    <button type="submit" class="btn btn-success">Update</button>
}
