@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/jscript">
        $(function () {
            $('#City').change(function () {
                $('#Area').html(null);
                $.getJSON('/Json/AreaList/' + $('#City').val(), function (data) {
                    $.each(data, function (i, area) {
                        $("#Area").append(
                            "<option value=" + area.Value + ">" + area.Text + "</option>")
                    });
                });
            });
        });
    </script>
}

<h2>Register here to get started!</h2>

@using (Html.BeginForm("CreateOrUpdate", "Client"))
{
    @Html.Partial("../Client/_ClientForm")
    <button type="submit" class="btn btn-primary">Submit</button>
}
